outputs/**/papers_md
outputs/**/llm_eval_progress.log
outputs/**/llm_closed_eval_progress.log
llm_jailbreak*
!llm_jailbreak.ipynb
!llm_jailbreak_closed.ipynb
!llm_jailbreak_figures.ipynb
.env
.vscode/
.gitignore
*.py